body {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* Layout Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

/* Header Styles */
header {
    background-color: darkblue;
    color: white;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

header nav a {
    text-decoration: none;
    color: lightgray;
    font-weight: semi-bold;
}

nav a:hover {
    color: lightskyblue;
}

